@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>This is a secret page </h1>

<p>This can only be seen if the user has logged in !!!!!!!!!!!</p>

<p>If you are seeing this page .. this means that you are an authorized user </p>